.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-name {
  display: flex;
  gap: 10px;
  width: 100%;
}
.signup-button {
  background-color: #333;
  width: 100%;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: large;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #383636;
  transform: scale(1.1);
}
.signup-para {
  text-align: center;
}
.link-tag {
  padding-left: 10px;
  color: #333;
}

/* ---------------- signin css ---------------------- */
.signin-left-side input {
  width: 400px;
  padding: 15px;
}

/* Responsive styles */
@media (max-width: 480px) {
  .signin-left-side input {
    width: 100%;
    padding: 10px;
  }
  .signup-button{
    padding: 15px;
  }
}

