.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.left-side{
width:50%;
}
.left-side h1{
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}
.left-side button{
    padding: 1rem 2rem;
    background-color: #414141;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.left-side button:hover{
    background-color: #333;
    transform: scale(1.1);
}
.right-side{
    width:50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.right-side img{
    width:500px;
    height:auto;
}
@media (max-width: 1200px) {
    .left-side h1{
        font-size: 2rem;
    }
    .right-side img{
        width:400px;
    }
}
@media (max-width: 850px) {
    .home{
        flex-direction: column;
    }
    .left-side{
        width:100%;
    }
    .right-side{
        width:100%;
        justify-content: center;
    }
    .right-side img{
        width:300px;
    }
  
}